<div class="container d-flex justify-content-center align-items-center vh-100 w-100 flex-column">
  <div *ngIf="!completed">
    <h1>Question {{ num + 1 }} of {{ questions.length }}</h1>
    <h4>{{ questions[num].question }}</h4>
    <div class="form-group">
      <input type="range" class="form-control-range" min="0" max={{questions[num].max}} step="1" [(ngModel)]="answers[num]">
      <span>{{ answers[num] }}</span>
    </div>
    <div class="d-flex justify-content-between mt-5 w-50">
      <button class="btn btn-secondary" [disabled]="num === 0" (click)="previous()">Previous</button>
      <button class="btn btn-primary text-end" *ngIf="!submitbtn" [disabled]="num === questions.length - 1" (click)="next()">Next</button>
      <button class="btn btn-primary text-end" *ngIf="submitbtn" (click)="submit()">Submit</button>
    </div>
  </div>
  <div *ngIf="completed">
    <h1>Thank you for your time :) !</h1>
  </div>
</div>
